<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/4810801808.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/postpage.css">
    <script defer src="./scripts/postpage.js"></script>
</head>
<body>
                {{!-- <i class="fa-regular fa-earth-americas fa-lg" style="color: #000000; margin:0 15px;"></i> --}}
    <!-- navbar code starts here -->
    {{> navbar}}
    <!-- navbar ends here -->
    <div class="mainarea">     <!--for grey background -->
        <br><br>
        <div class="flexarea">
            <div class="categories">
                {{!-- <button class="category" style="background-color: #dad8d8;">+ Create Space</button> --}}
                <button class="category">Immigration & Visas club</button>
                <button class="category">Joint Entrance</button>
                <button class="category">Higher Education</button>
                <button class="category">Physics</button>
                <button class="category">Chemistry</button>
                <button class="category">Maths</button>
            </div>
           
            <!-- scrolling post part starts here -->
            <div class="postsarea">
                <div class="askbox">
                    <button class="j" style="margin: 10px;"> *</button>
                    <button class="add_question2"> What do you want to share?</button>
                    <div class="insideaskbox">
                       <button class="insideaskboxoptions">Think</button>
                       <button class="insideaskboxoptions">Create</button>
                       <button class="insideaskboxoptions"> Post</button>
                    </div>
                </div>
                {{#each posts as |post| }}
                    <div class="mainpost1">
                    <div class="postnamepart">
                        <img class="ownerimg" src="https://qph.cf2.quoracdn.net/main-thumb-76332267-50-prmgllgyccadzfendyofmqgcrcskbywx.jpeg">
                        <span class="postowner">{{post.creator}}<br>
                            <span style="color:#808080; font-weight: 100;"> Programmer</span>
                        </span>
                    </div>
                    <!-- link post page here -->
                    <a href="#" class="posttitle" style="font-size: 25px;">    {{post.title}}   </a>
                    <div class="postintro">                                    {{post.description}}</div>
                    <img src="{{post.imageurl}}" alt="not available" class="postimage">

                    <div class="exsection">
                        <button class="likebtn"  post_id="{{post._id}}"  >💓 Like</button>
                        <button class="countbtn" postuser="{{post.user_id}}" post_id="{{post._id}}" > {{post.likecount}}</button>
                        <button class="commentbtn"  post_id="{{post._id}}"><i class="fa-solid fa-comment"> View comments</i></button>
                    </div>
                    <form class="newcomment" post_id="{{post._id}}" >
                            <input class="commentinput" name="comment" placeholder="Add a comment">
                            {{!-- <input class="idinput" name="id" value="{{post._id}}" type="hidden"> --}}
                            <button type="submit" class="addnewcommentbtn">Add comment</button>
                    </form>
                    <div class="commentbox"> 
                         {{!-- this div is for displaying comments by dom manupulation --}}
                    </div>
                </div>
                {{/each}}
                {{!-- <div class="mainpost1">
                    <div class="postnamepart">
                        <img class="ownerimg" src="https://qph.cf2.quoracdn.net/main-thumb-76332267-50-prmgllgyccadzfendyofmqgcrcskbywx.jpeg">
                        <span class="postowner">Reyansh Mishra <a href="#" class="follow" > Follow</a><br>
                            <span style="color:#808080; font-weight: 100;"> Programmer</span>
                        </span>
                    </div>
                    <!-- link post page here -->
                    <a href="#" class="posttitle" style="font-size: 25px;">    
                        If almost everyone can kearn programming for free, why is the salary relatively very high?
                    </a>
                    <div class="postintro">Now even if you have not studied civil engineering still you will be able to build it right? Almost an
                        yone with basic knowledge and thinking can build this small little structure?
                    </div>
                    <img src="https://qph.cf2.quoracdn.net/main-qimg-f89bb1fa4c10eaf3a5e35005f3ecf6c8-pjlq" alt="not available" class="postimage">
                </div> --}}
                {{!-- <div class="mainpost1">
                    <div class="postnamepart">
                        <img class="ownerimg" src="https://qph.cf2.quoracdn.net/main-thumb-76332267-50-prmgllgyccadzfendyofmqgcrcskbywx.jpeg">
                        <span class="postowner">Reyansh Mishra <a href="#" class="follow" > Follow</a><br>
                            <span style="color:#808080; font-weight: 100;"> Programmer</span>
                        </span>
                    </div>
                    <!-- link post page here -->
                    <a href="#" class="posttitle" style="font-size: 25px;">    
                        If almost everyone can kearn programming for free, why is the salary relatively very high?
                    </a>
                    <div class="postintro">Now even if you have not studied civil engineering still you will be able to build it right? Almost an
                        yone with basic knowledge and thinking can build this small little structure?
                    </div>
                    <img src="https://qph.cf2.quoracdn.net/main-qimg-f89bb1fa4c10eaf3a5e35005f3ecf6c8-pjlq" alt="not available" class="postimage">
                </div> --}}
            </div>
            {{!-- <div class="ads" >  advertisement</div> --}}
        </div>
    </div>
    <!-- create post box starts here -->
    <div class="createbox"> 
        <div class="hidebtn">❌</div>
            <div class="postformheading"> Be Creative 👻</div>
       <div class="login-box" >
            {{!-- <h2>Login</h2> --}}
            <form action="/main/addpost" method="POST">
                <div class="user-box">
                <input type="text" name="title"  id="title" >
                <label>Post Title</label>
                </div>
                <div class="user-box">
                <input type="text" name="description" >
                <label>Description</label>
                </div>
                <div class="user-box">
                <input type="text" name="imageurl" >
                <label>Image Url</label>
                </div>
                {{!-- <a href="#"> --}}
                <span></span>
                <span></span>
                <span></span>
                {{!-- <span></span> --}}
                <button class="postbtn" type="submit">Submit</button>
                {{!-- </a> --}}
            </form>
            </div>
        {{!-- <form class="questionform" action="/addquestion" method="POST">
        <input name="question" placeholder="write question..." type="text" style="width:92%; font-size:25px; padding:20px; height:60px; border:none;">
        <button class="questionbtn" type="submit" style="margin:150px 280px; background-color:blue; color:white; border-radius:10px; padding:10px 30px;"
        >Submit</button>
        </form> --}}
        {{!-- <form class="postinfoform" action="/addpost" method="POST">
        <br><br>
        <input name="title" placeholder="Give your post title here..." type="text" style="width:50%; font-size:25px; padding:5px; height:40px; border:none;"><br>
        <input name="description" placeholder="Describe your post here..." type="text" style="width:80%; font-size:20px; padding:5px; height:80px; border:none;"><br>
        <input name="imageurl" placeholder="Give url of image here..." type="text" style="width:80%; font-size:20px; padding:5px; height:30px; border:none;"><br>
        <button class="questionbtn" type="submit" style="margin:100px 280px; background-color:blue; color:white; border-radius:10px; padding:10px 30px;">
        Add Post</button>
        </form> --}}
                   {{!-- <div class="info" >View Comments</div> --}}
    
    </div>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>