<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Feed</title>
    <script src="https://kit.fontawesome.com/4810801808.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/postpage.css">
    {{!-- <script defer src="./scripts/postpage.js"></script> --}}
    <style>
        .uplabel{
            font-size: x-large;
            color: rgb(51, 6, 70);
            font-family: sans-serif;
            font-weight: 600;
        }
        .upinp{
            width: 600px;
            border: none;
            height: 40px;
            font-size: 30px;
        }
        .upbtn{
            margin-top: 20px;
            margin-bottom: 30px;
            padding: 10px;
            border: 1px solid bisque;
        }
        .upbtn:hover{
            border: 2px dotted black;
        }
    </style>
</head>
<body>
    <!-- navbar code starts here -->
    {{> navbar}}
    <!-- navbar ends here -->
    <div class="mainarea">     <!--for grey background -->
        <br><br><br>
        <div class="flexarea">
            <div class="categories">
                <button class="category" style="background-color: #dad8d8;">+ Create Space</button>
                <button class="category">Immigration & Visas club</button>
                <button class="category">Joint Entrance</button>
                <button class="category">Higher Education</button>
                <button class="category">Physics</button>
                <button class="category">Chemistry</button>
                <button class="category">Maths</button>
            </div>
           
            <!-- scrolling post part starts here -->
            <div class="postsarea">
                <h1>My Feed <br>Update Page</h1>
                    {{!-- <div class="mainpost1">
                    <div class="myposthead" style="display:flex; justify-content:space-between">
                        <div class="postnamepart">
                        <img class="ownerimg" src="https://qph.cf2.quoracdn.net/main-thumb-76332267-50-prmgllgyccadzfendyofmqgcrcskbywx.jpeg">
                        <span class="postowner">Reyansh Mishra <a href="#" class="follow" > Follow</a><br>
                            <span style="color:#808080; font-weight: 100;"> Programmer</span>
                        </span>
                        </div>
                        <div class="mypostoption">  
                            <button style="border:none; font-size:large; padding: 10px;"><a class="hidebtn" href="/updatepost?id={{post._id}}">✏️</a> </button>
                            <button id="delbtn" style="border:none; font-size:large; padding: 10px;"><a class="hidebtn" href="/deletepost?id={{post._id}}">💀</a> </button>
                        </div>
                    </div>
                    
                    <!-- link post page here -->
                    <a href="#" class="posttitle" style="font-size: 25px;">    {{post.title}}   </a>
                    <div class="postintro">                                    {{post.description}}</div>
                    <img src="{{post.imageurl}}" alt="not available" class="postimage">
                </div> --}}
                <form action="/updatepost" method="POST">
                <label class="uplabel" for="title"> Title</label><br>
                <input class="upinp" value="{{post.title}}" name="title" type="text"><br><br>
                <label class="uplabel" for="title"> Description</label><br>
                <input class="upinp" value="{{post.description}}" name="description" type="text"><br><br>
                <label class="uplabel" for="title"> Image Url </label><br>
                <input class="upinp" value="{{post.imageurl}}" name="imageurl" type="text"><br><br>
                <input style="visibility:hidden; " value="{{post._id}}" name="id" type="text">
                <button class="upbtn" type="submit">Update post</button>
                </form>
                                
            </div>

            <div class="ads" >  advertisement</div>
        </div>
    </div>
    </div>

</body>
</html>